body {
    background: #edede9;
	margin: 0;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold
}

#ulheader {
    border: 2px solid #d6ccc2;
    width: 100%;
	list-style-type: none;
	margin-top: 0;
	padding: 1%;
	overflow: hidden;
	background-color: #d6ccc2;
	text-align: center;
    top: 0;
    left: 0;
    position: fixed;
    justify-content: center;
}

.liheader {
	display: inline;
	font-weight: bold;
    padding: 10%;
	font-family: Arial, Helvetica, sans-serif;
}

.liheader:hover {
	background-color: #edede9;
}

.oggheader {
	text-decoration: none;
	color: black;
}

/*Il Form con i contatti e la possibilità di contattarmi tramite la mail*/
#divform {
    margin-top: 8%;
    border: 2px solid #d6ccc2;
    border-radius: 10px;
    background-color: #d6ccc2;
    padding: 25px;
    width: 100%;   
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
  }

  input[type=submit] {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width:  100%;
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    background-color: #edede9;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: lightgrey;
  }

 ul {
    list-style-type: none;
	margin: 0;
	padding: 1%;
	overflow: hidden;
	position: relative;
	width: auto;
	top: 50%;
	left: 35%;	
 }

 nobr {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
 }

 footer {
    width: 100%;
	border: 2px solid #d6ccc2;
	background-color: #d6ccc2;
    justify-content: center;
    position: fixed;
	bottom: 0;
    left: 0;
    right: 0;
	height: 10%;
}

#ulfooter {
	list-style-type: none;
	margin: 0;
	padding: 1%;
	overflow: hidden;
	display: inline-flex;
	position: relative;
	width: auto;
	top: 50%;
	left: 35%;
	
}
 .iconefooter {
    width: 25px;
	height: 25px;
 }

 #ulfooter li {
	padding: 20px;
}