body {
	background: beige;
	margin: 0;
    display: flex;
}

#ulheader {
    width: 100%;
	list-style-type: none;
	margin-top: 0;
	padding: 1%;
	overflow: hidden;
	background-color: #d6ccc2;
	text-align: center;
    top: 0;
    left: 0;
    position: fixed;
    justify-content: center;
}

.liheader {
	display: inline;
	padding: 10%;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.liheader:hover {
	background-color: #edede9;
}

.oggheader {
	text-decoration: none;
	color: black;
}

#textdiv  {
    position: absolute;
    top: 25%;
    right: 10%;
}

.animated-text {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    animation: mymove 5s infinite alternate;
}

@keyframes mymove {
    0% {
        font-size: 50px;
        font-style: italic;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }
    100% {
        font-size: 120px;
        font-style: italic;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }
}

#myfoto {
    border: 5px solid #d6ccc2;
    position: absolute;
    top: 12%;
    left: 0;
    margin-left: 5%;
    height: 75%;
}


footer {
    width: 100%;
	border: 2px solid #d6ccc2;
	background-color: #d6ccc2;
    position: fixed;
    justify-content: center;
    margin-top: 6%;
    bottom: 0;
    padding-top: 1%;
}

#user {
    position: absolute;
    top: 7%;
    right: 0;
    height: 10%;
    width: 15%;
    margin: 0;
}
