<!DOCTYPE html>
<html lang="en">
	<head>
		<title>About</title>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link rel="stylesheet" href="static/css/aboutstyle.css">
    	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"> 
    	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
	</head>
	<body>
		<header>
			<ul class="main-nav">
				<li><a href="{{ url_for('index') }}">Home</a></li>
				<li><a href="{{ url_for('about') }}">About</a></li>
				<li><a href="{{ url_for('contact') }}">Contact</a></li>
			</ul>
			<div class="dropdown">
				{% block content %} 
					<img src="static/images/userfoto.png" alt="userfoto"  width="40px" height="40px" /><nobr style="color: white"> {{  global_username }} </nobr>
				{% endblock %}
				<ul class="drop-nav">
					<li><a href="#">Info</a></li>
					<li><a href="{{ url_for('login') }}">Login</a></li>
					<li><a href="{{ url_for('register') }}">Sign Up</a></li>
					<li><a href="{{ url_for('gitstatus')}}">Github Status</a></li>       
				</ul>
			</div>
		  </header>
<!--Parte Sinistra della pagina-->
		<div id="sinistra">
		<h1>OSTAP<br>FEDCHUK</h1>
		<h2>ITS STUDENTE</h2>
		<br><hr class="linea"><br>
			<div>
				<h2>ISTRUZIONE E FORMAZIONE</h2>
				<p><b>Istituto Tecnico Leonardo Da Vinci Borgomanero</b></p>
				<p>Diploma in Informatica 2025/2026</p>
				<h2>ESPERIENZE PROFESSIONALI</h2>
				<p><b>Studi ITS Borgomanero (2020-2026)</b></p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br>
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut <br>
				enim ad minim veniam, quis nostrud exercitation ullamco laboris <br>
				nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor <br>
				in reprehenderit in voluptate velit esse cillum dolore eu fugiat <br>
				nulla pariatur. Excepteur sint occaecat cupidatat non proident, <br>
				sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p><b>Stage EID S.r.l Borgomanero (2023)</b></p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br>
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut <br>
				enim ad minim veniam, quis nostrud exercitation ullamco laboris <br>
				nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor <br>
				in reprehenderit in voluptate velit esse cillum dolore eu fugiat <br>
				nulla pariatur. Excepteur sint occaecat cupidatat non proident, <br>
				sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<h2>LINGUE</h2>
				<p>Italiano-C1 | Ucraino-Madrelingua | Inglese-B1</p>
			</div>
		</div>
<!--Parte Destra della pagina-->
		<div id="destra">
			<img src="static/images/fotome (2).jpg" alt="foto" id="foto">
			<h2>CHI SONO</h2>
			<p>Innovativa, creativa e professionale.
				Specializzata in Digital Marketing e
				SM Marketing. Sono una ragazza
				allegra, ambiziosa e dedicata. Amo il
				mio lavoro e raggiungere gli
				obiettivi in gruppo.</p>
			<br>
			<h2>COMPETENZE</h2>
			<ul>
				<li>Front-End Developer</li>
				<li>Back-End Developer</li>
				<li>C Developer</li>
			</ul>
			<br>
			<h2>REFERENZE</h2>
			<p id="p-ref">Disponibile su richiesta</p>
			<br>
		</div>
		<footer>
			<ul id="ulfooter">
                <li><a href="https://github.com/OstapFedchuk"><img src="static/icons/github.png" alt="github" class="iconefoot" id="github"></a></li>
                <li><a href="https://github.com/OstapFedchuk"><img src="static/icons/facebook.png" alt="facebook" class="iconefoot" id="facebook"></a></li>
				<li><a href="https://github.com/OstapFedchuk"><img src="static/icons/youtube.png" alt="youtube" class="iconefoot" id="youtube"></a></li>
                <li><a href="https://github.com/OstapFedchuk"><img src="static/icons/linkedin.png" alt="linkedin" class="iconefoot" id="linkedin"></a></li>
				<li><a href="https://github.com/OstapFedchuk"><img src="static/icons/twitter.png" alt="twitter" class="iconefoot" id="twitter"></a></li>
            </ul>
		</footer>
	</body>
</html>