<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',  filename='css/style.css') }}">
    <title>Log In</title>
</head>
<body>
    <form action = "{{ url_for('addrec') }}" method = "POST">
        <h3>Informazioni delle persone</h3>
        <label>Nome</label> <br>
        <input type="text" name="nome"  placeholder="Tuo Nome...">
        <br><br>
        <label>Email</label> <br>
        <input type="text" name="email"  placeholder="Tua Email...">
        <br><br>
        <label>Citta</label> <br>
        <input type="text" name="citta"  placeholder="Oggetto...">
        <br><br>
        <input type = "submit" value = "submit" /><br>
    </form>
</body>
</html>