<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',  filename='css/style.css') }}">
    <title>Flask Parent</title>
</head>
<body>
    {% block content %}
    {% endblock %}
    <header>
        <div id="container">
            <h1 class="titolo">Primo Web App</h1>
            <strong><nav>
            <ul class="menu">
                <li><a href="{{ url_for('home') }}">Home</li>
                    <li><a href="{{ url_for('login') }}">Log In</li>
            </ul>
        </strong></nav>
        </div>
    </header>


</body>
</html>